header[data-testid='header_container'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #0a1a2d;
  padding: 2rem 3rem;
  z-index: 1000;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

span[data-testid='header_logo'] {
  margin: 1rem;
}

h1[data-testid='header_title'] {
  text-align: center;
  font-size: 2rem;
}

div[data-testid='header_login_wrapper'] {
  margin: 1rem;
}

a[data-testid='header_login_btn'] {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  transition: transform 0.3s linear;
}

a[data-testid='header_login_btn']:hover {
  text-shadow: 0 0 10px #ffffff;
  transform: scale(1.1);
}

@media screen and (max-width: 650px) {
  header[data-testid='header_container'] {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  h1[data-testid='header_title'] {
    font-size: 1.5rem;
  }

  [data-testid='header_login_btn'] {
    font-size: 1.3rem;
  }
}
