.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-header {
  background-color: #0a1a2d;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
}

.app-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}

.app-left-column {
  flex: 1;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-self: flex-start; */
}

.app-right-column {
  flex: 1;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}

.app-block {
  padding: 20px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .app-main {
    width: 100%;
    flex-direction: column;
  }

  .app-left-column,
  .app-right-column {
    flex-basis: 100%;
    align-self: unset;
  }
}

.language-selector {
  position: absolute;
  top: 20px;
  right: 20px;
}

.language-selector select:hover {
  background-color: #dbe4f8;
}

.language-selector select {
  background-color: #fff;
  color: #0a1a2d;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.language-selector select:focus {
  outline: none;
  border-color: #0a1a2d;
}
